{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "allowImportExportEverywhere": false
    },
    "env": {
        "browser": true,
        "amd": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "extends": "eslint-config-airbnb",
    "rules" : {
        "comma-dangle": [2, {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }],
        "no-unused-vars": [2, {
            "varsIgnorePattern": "[iI]gnored",
            "args": "all",
            "argsIgnorePattern": "^_",
            "caughtErrors": "none"
        }],
        "no-mixed-spaces-and-tabs" : 2,
        "no-console": 1,
        "no-undef": 2,
        "indent": ["error", 4],
        "import/no-extraneous-dependencies":0,
        "linebreak-style": 0,
        "react/jsx-filename-extension": 0,
        "class-methods-use-this": 0,
        "react/jsx-indent-props": [2, 4],
        "react/jsx-indent": [2, 4],
        "react/forbid-prop-types": 0,
        "jsx-a11y/no-static-element-interactions": 0
    }
}

/* eslint rule-name */
/* eslint-disable */
/* eslint-disable rule-name1, rule-name2 */
/* eslint-disable-line rule-name */
/* eslint-disable-next-line rule-name */
